AndroidClient/.settings/org.eclipse.cdt.codan.core.prefs
AndroidClient/.settings/org.eclipse.cdt.core.prefs
AndroidClient/.settings/org.eclipse.core.resources.prefs
AndroidClient/.settings/org.eclipse.ltk.core.refactoring.prefs
AndroidClient/bin/AndroidClient.apk
AndroidClient/bin/AndroidManifest.xml
AndroidClient/bin/classes.dex
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/BuildConfig.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/CameraPreview$1.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/CameraPreview.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/DetectImageActivity$MainHandler.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/DetectImageActivity.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/InfomationView.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/R$attr.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/R$drawable.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/R$raw.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/R$string.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/R.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/thread/AsynSendImgThread.class
AndroidClient/bin/detect_image_sample.apk
AndroidClient/bin/jarlist.cache
AndroidClient/bin/res/drawable/icon.png
AndroidClient/bin/res/raw/closure.png
AndroidClient/bin/resources.ap_
AndroidClient/libs/armeabi-v7a/gdb.setup
AndroidClient/libs/armeabi-v7a/gdbserver
AndroidClient/libs/armeabi-v7a/libnative_camera_r2.2.2.so
AndroidClient/libs/armeabi-v7a/libnative_camera_r2.3.3.so
AndroidClient/libs/armeabi-v7a/libnative_sample.so
AndroidClient/obj/local/armeabi-v7a/app_process
AndroidClient/obj/local/armeabi-v7a/libc.so
AndroidClient/obj/local/armeabi-v7a/libgnustl_static.a
AndroidClient/obj/local/armeabi-v7a/liblibjasper.a
AndroidClient/obj/local/armeabi-v7a/liblibjpeg.a
AndroidClient/obj/local/armeabi-v7a/liblibpng.a
AndroidClient/obj/local/armeabi-v7a/liblibtiff.a
AndroidClient/obj/local/armeabi-v7a/libnative_camera_r2.2.2.so
AndroidClient/obj/local/armeabi-v7a/libnative_camera_r2.3.3.so
AndroidClient/obj/local/armeabi-v7a/libnative_sample.so
AndroidClient/obj/local/armeabi-v7a/libopencv_androidcamera.a
AndroidClient/obj/local/armeabi-v7a/libopencv_calib3d.a
AndroidClient/obj/local/armeabi-v7a/libopencv_contrib.a
AndroidClient/obj/local/armeabi-v7a/libopencv_core.a
AndroidClient/obj/local/armeabi-v7a/libopencv_features2d.a
AndroidClient/obj/local/armeabi-v7a/libopencv_flann.a
AndroidClient/obj/local/armeabi-v7a/libopencv_highgui.a
AndroidClient/obj/local/armeabi-v7a/libopencv_imgproc.a
AndroidClient/obj/local/armeabi-v7a/libopencv_legacy.a
AndroidClient/obj/local/armeabi-v7a/libopencv_ml.a
AndroidClient/obj/local/armeabi-v7a/libopencv_objdetect.a
AndroidClient/obj/local/armeabi-v7a/libopencv_photo.a
AndroidClient/obj/local/armeabi-v7a/libopencv_stitching.a
AndroidClient/obj/local/armeabi-v7a/libopencv_ts.a
AndroidClient/obj/local/armeabi-v7a/libopencv_video.a
AndroidClient/obj/local/armeabi-v7a/libopencv_videostab.a
AndroidClient/obj/local/armeabi-v7a/libzlib.a
AndroidClient/obj/local/armeabi-v7a/objs-debug/native_sample/jni_part.o
AndroidClient/obj/local/armeabi-v7a/objs-debug/native_sample/jni_part.o.d
AndroidClient/obj/local/armeabi-v7a/objs/native_sample/jni_part.o
AndroidClient/obj/local/armeabi-v7a/objs/native_sample/jni_part.o.d
Server/.cache
Server/project/project/target/config-classes/$0dbbfab7515ff10c81d7$.class
Server/project/project/target/config-classes/$0dbbfab7515ff10c81d7.class
Server/project/project/target/config-classes/$16cedce6b4b847f6f486$.class
Server/project/project/target/config-classes/$16cedce6b4b847f6f486.class
Server/project/project/target/config-classes/$2a566f238eedf58c6f1c$$anonfun$$sbtdef$1.class
Server/project/project/target/config-classes/$2a566f238eedf58c6f1c$.class
Server/project/project/target/config-classes/$2a566f238eedf58c6f1c.class
Server/project/project/target/config-classes/$3144e9804e73666a1502$$anonfun$$sbtdef$1.class
Server/project/project/target/config-classes/$3144e9804e73666a1502$.class
Server/project/project/target/config-classes/$3144e9804e73666a1502.class
Server/project/project/target/config-classes/$31e15a45243f8a31c999$.class
Server/project/project/target/config-classes/$31e15a45243f8a31c999.class
Server/project/project/target/config-classes/$497ee18900ed9d0f242e$.class
Server/project/project/target/config-classes/$497ee18900ed9d0f242e.class
Server/project/project/target/config-classes/$4fc2c0b02bdf6cde1d43$.class
Server/project/project/target/config-classes/$4fc2c0b02bdf6cde1d43.class
Server/project/project/target/config-classes/$b660bd8eda937fbbdb31$$anonfun$$sbtdef$1.class
Server/project/project/target/config-classes/$b660bd8eda937fbbdb31$.class
Server/project/project/target/config-classes/$b660bd8eda937fbbdb31.class
Server/project/project/target/config-classes/$bacaa4b2bfcd8de9fb00$.class
Server/project/project/target/config-classes/$bacaa4b2bfcd8de9fb00.class
Server/project/target/config-classes/$08e13b5709b695fe2ee7$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$08e13b5709b695fe2ee7$.class
Server/project/target/config-classes/$08e13b5709b695fe2ee7.class
Server/project/target/config-classes/$13d4e0d9f34e28f0fcdb$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$13d4e0d9f34e28f0fcdb$.class
Server/project/target/config-classes/$13d4e0d9f34e28f0fcdb.class
Server/project/target/config-classes/$21141c7bdb4527c8f616$.class
Server/project/target/config-classes/$21141c7bdb4527c8f616.class
Server/project/target/config-classes/$2c40cde09a9f1e365390$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$2c40cde09a9f1e365390$.class
Server/project/target/config-classes/$2c40cde09a9f1e365390.class
Server/project/target/config-classes/$2ec81872445f4f3659dc$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$2ec81872445f4f3659dc$.class
Server/project/target/config-classes/$2ec81872445f4f3659dc.class
Server/project/target/config-classes/$51bf64ef6652f9542225$.class
Server/project/target/config-classes/$51bf64ef6652f9542225.class
Server/project/target/config-classes/$55a641c1aa7868ea4186$.class
Server/project/target/config-classes/$55a641c1aa7868ea4186.class
Server/project/target/config-classes/$564658e47a283bb16a38$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$564658e47a283bb16a38$.class
Server/project/target/config-classes/$564658e47a283bb16a38.class
Server/project/target/config-classes/$832f7670f8d76e49572d$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$832f7670f8d76e49572d$.class
Server/project/target/config-classes/$832f7670f8d76e49572d.class
Server/project/target/config-classes/$88fdc2e2c965571e6275$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$88fdc2e2c965571e6275$.class
Server/project/target/config-classes/$88fdc2e2c965571e6275.class
Server/project/target/config-classes/$8a81de2a8352a1421149$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$8a81de2a8352a1421149$.class
Server/project/target/config-classes/$8a81de2a8352a1421149.class
Server/project/target/config-classes/$9633b9bb9932614e5c03$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$9633b9bb9932614e5c03$.class
Server/project/target/config-classes/$9633b9bb9932614e5c03.class
Server/project/target/config-classes/$a0b2a75069c8659ea9f4$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$a0b2a75069c8659ea9f4$.class
Server/project/target/config-classes/$a0b2a75069c8659ea9f4.class
Server/project/target/config-classes/$a6f4ac298998ca7e7f69$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$a6f4ac298998ca7e7f69$.class
Server/project/target/config-classes/$a6f4ac298998ca7e7f69.class
Server/project/target/config-classes/$a91359699b50f9fb49d5$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$a91359699b50f9fb49d5$.class
Server/project/target/config-classes/$a91359699b50f9fb49d5.class
Server/project/target/config-classes/$aa6b96e4d2ea086b2dc4$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$aa6b96e4d2ea086b2dc4$.class
Server/project/target/config-classes/$aa6b96e4d2ea086b2dc4.class
Server/project/target/config-classes/$c3ed4cbfa02a5d5e331c$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$c3ed4cbfa02a5d5e331c$.class
Server/project/target/config-classes/$c3ed4cbfa02a5d5e331c.class
Server/project/target/config-classes/$c54af33bac90ff24cac7$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$c54af33bac90ff24cac7$.class
Server/project/target/config-classes/$c54af33bac90ff24cac7.class
Server/project/target/config-classes/$cbf1f06b371a8c582ca3$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$cbf1f06b371a8c582ca3$.class
Server/project/target/config-classes/$cbf1f06b371a8c582ca3.class
Server/project/target/config-classes/$d25ff51372cb65f9f9f6$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$d25ff51372cb65f9f9f6$.class
Server/project/target/config-classes/$d25ff51372cb65f9f9f6.class
Server/project/target/config-classes/$d8e691e7187e2ec013b4$.class
Server/project/target/config-classes/$d8e691e7187e2ec013b4.class
Server/project/target/config-classes/$de772156539c8df59557$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$de772156539c8df59557$.class
Server/project/target/config-classes/$de772156539c8df59557.class
Server/project/target/config-classes/$e7f4b4f6048806c94a3c$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$e7f4b4f6048806c94a3c$.class
Server/project/target/config-classes/$e7f4b4f6048806c94a3c.class
Server/project/target/config-classes/$f8e59694f42466914f5d$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$f8e59694f42466914f5d$.class
Server/project/target/config-classes/$f8e59694f42466914f5d.class
Server/project/target/config-classes/$f931cccbcd2618e80bfc$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$f931cccbcd2618e80bfc$.class
Server/project/target/config-classes/$f931cccbcd2618e80bfc.class
Server/project/target/config-classes/$fa30bccbc2cb21ead8a3$$anonfun$$sbtdef$1.class
Server/project/target/config-classes/$fa30bccbc2cb21ead8a3$.class
Server/project/target/config-classes/$fa30bccbc2cb21ead8a3.class
Server/project/target/scala-2.9.1/sbt-0.11.3/cache/compile/copy-resources
Server/project/target/scala-2.9.1/sbt-0.11.3/cache/update/inputs
Server/project/target/scala-2.9.1/sbt-0.11.3/cache/update/output
Server/project/target/streams/$global/compilers/$global/out
Server/project/target/streams/$global/ivy-configuration/$global/out
Server/project/target/streams/$global/ivy-sbt/$global/out
Server/project/target/streams/$global/project-descriptors/$global/out
Server/project/target/streams/$global/update/$global/out
Server/project/target/streams/compile/$global/$global/data
Server/project/target/streams/compile/compile-inputs/$global/out
Server/project/target/streams/compile/compile/$global/out
Server/project/target/streams/compile/copy-resources/$global/out
Server/project/target/streams/compile/defined-sbt-plugins/$global/out
Server/target/.history
Server/target/scala-2.9.2/cache/compile/compile
Server/target/scala-2.9.2/cache/compile/copy-resources
Server/target/scala-2.9.2/cache/compile/test/copy-resources
Server/target/scala-2.9.2/cache/inputs
Server/target/scala-2.9.2/cache/output
Server/target/scala-2.9.2/cache/update/inputs
Server/target/scala-2.9.2/cache/update/output
Server/target/scala-2.9.2/classes/jna.jar
Server/target/scala-2.9.2/classes/jnaTest$.class
Server/target/scala-2.9.2/classes/jnaTest.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ClinetManagerThread$$anonfun$1.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ClinetManagerThread$$anonfun$2.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ClinetManagerThread$$anonfun$3.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ClinetManagerThread$$anonfun$4.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ClinetManagerThread$$anonfun$5.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ClinetManagerThread$$anonfun$6.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ClinetManagerThread$$anonfun$_makeResponse$1$$anonfun$apply$mcVI$sp$1.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ClinetManagerThread$$anonfun$_makeResponse$1.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ClinetManagerThread$$anonfun$rgbByteArraytoIntArray$1.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ClinetManagerThread.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ThreadIdManagement$$anonfun$1.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ThreadIdManagement$.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/ThreadIdManagement.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/jna/GetSurfFeatures$$anonfun$1.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/jna/GetSurfFeatures$.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/jna/GetSurfFeatures.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/jna/LshMatcher$$anonfun$1.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/jna/LshMatcher$$anonfun$2.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/jna/LshMatcher$.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/giraffe/server/jna/LshMatcher.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/scala/support/myCountTime$.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/scala/support/myCountTime.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/scala/support/myLog$.class
Server/target/scala-2.9.2/classes/jp/dip/roundvalley/scala/support/myLog.class
Server/target/streams/$global/assembly-assembled-mappings/$global/out
Server/target/streams/$global/assembly/$global/out
Server/target/streams/$global/compilers/$global/out
Server/target/streams/$global/ivy-configuration/$global/out
Server/target/streams/$global/ivy-sbt/$global/out
Server/target/streams/$global/project-descriptors/$global/out
Server/target/streams/$global/update/$global/out
Server/target/streams/compile/$global/$global/data
Server/target/streams/compile/compile-inputs/$global/out
Server/target/streams/compile/compile/$global/out
Server/target/streams/compile/copy-resources/$global/out
Server/target/streams/compile/run/$global/out
Server/target/streams/test/$global/$global/data
Server/target/streams/test/compile-inputs/$global/out
Server/target/streams/test/compile/$global/out
Server/target/streams/test/copy-resources/$global/out
Server/target/streams/test/defined-tests/$global/out
Server/target/streams/test/loaded-test-frameworks/$global/out
Server/target/streams/test/test/$global/out
