AndroidClient/.settings/org.eclipse.cdt.codan.core.prefs
AndroidClient/.settings/org.eclipse.cdt.core.prefs
AndroidClient/.settings/org.eclipse.core.resources.prefs
AndroidClient/.settings/org.eclipse.ltk.core.refactoring.prefs
AndroidClient/bin/AndroidClient.apk
AndroidClient/bin/AndroidManifest.xml
AndroidClient/bin/classes.dex
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/BuildConfig.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/CameraPreview$1.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/CameraPreview.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/DetectImageActivity$MainHandler.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/DetectImageActivity.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/InfomationView.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/R$attr.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/R$drawable.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/R$raw.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/R$string.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/R.class
AndroidClient/bin/classes/jp/dip/roundvalley/giraffe/android/thread/AsynSendImgThread.class
AndroidClient/bin/detect_image_sample.apk
AndroidClient/bin/jarlist.cache
AndroidClient/bin/res/drawable/icon.png
AndroidClient/bin/res/raw/closure.png
AndroidClient/bin/resources.ap_
AndroidClient/libs/armeabi-v7a/gdb.setup
AndroidClient/libs/armeabi-v7a/gdbserver
AndroidClient/libs/armeabi-v7a/libnative_camera_r2.2.2.so
AndroidClient/libs/armeabi-v7a/libnative_camera_r2.3.3.so
AndroidClient/libs/armeabi-v7a/libnative_sample.so
AndroidClient/obj/local/armeabi-v7a/app_process
AndroidClient/obj/local/armeabi-v7a/libc.so
AndroidClient/obj/local/armeabi-v7a/libgnustl_static.a
AndroidClient/obj/local/armeabi-v7a/liblibjasper.a
AndroidClient/obj/local/armeabi-v7a/liblibjpeg.a
AndroidClient/obj/local/armeabi-v7a/liblibpng.a
AndroidClient/obj/local/armeabi-v7a/liblibtiff.a
AndroidClient/obj/local/armeabi-v7a/libnative_camera_r2.2.2.so
AndroidClient/obj/local/armeabi-v7a/libnative_camera_r2.3.3.so
AndroidClient/obj/local/armeabi-v7a/libnative_sample.so
AndroidClient/obj/local/armeabi-v7a/libopencv_androidcamera.a
AndroidClient/obj/local/armeabi-v7a/libopencv_calib3d.a
AndroidClient/obj/local/armeabi-v7a/libopencv_contrib.a
AndroidClient/obj/local/armeabi-v7a/libopencv_core.a
AndroidClient/obj/local/armeabi-v7a/libopencv_features2d.a
AndroidClient/obj/local/armeabi-v7a/libopencv_flann.a
AndroidClient/obj/local/armeabi-v7a/libopencv_highgui.a
AndroidClient/obj/local/armeabi-v7a/libopencv_imgproc.a
AndroidClient/obj/local/armeabi-v7a/libopencv_legacy.a
AndroidClient/obj/local/armeabi-v7a/libopencv_ml.a
AndroidClient/obj/local/armeabi-v7a/libopencv_objdetect.a
AndroidClient/obj/local/armeabi-v7a/libopencv_photo.a
AndroidClient/obj/local/armeabi-v7a/libopencv_stitching.a
AndroidClient/obj/local/armeabi-v7a/libopencv_ts.a
AndroidClient/obj/local/armeabi-v7a/libopencv_video.a
AndroidClient/obj/local/armeabi-v7a/libopencv_videostab.a
AndroidClient/obj/local/armeabi-v7a/libzlib.a
AndroidClient/obj/local/armeabi-v7a/objs-debug/native_sample/jni_part.o
AndroidClient/obj/local/armeabi-v7a/objs-debug/native_sample/jni_part.o.d
AndroidClient/obj/local/armeabi-v7a/objs/native_sample/jni_part.o
AndroidClient/obj/local/armeabi-v7a/objs/native_sample/jni_part.o.d
